apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  labels:
    app: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: votifyacr.azurecr.io/voteapp:latest
          ports:
            - containerPort: 80
              name: vote
      imagePullSecrets:
        - name: acr-pull-secret
