apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - image: votifyacr.azurecr.io/workerapp:latest
        name: worker
      imagePullSecrets:
        - name: acr-pull-secret
